/*base*/
/*para compilar sass 
 sass --watch ./scss/main.scss ./css/styles.css
 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.nav-link {
  color: #2934d1;
  font-size: 21px;
}

h2 {
  margin-top: 0.1rem;
  padding: 1rem;
  font-family: "Barlow", sans-serif;
  display: flex;
  font-size: 2.5rem;
  justify-content: center;
}

p {
  font-weight: 1rem;
  font-size: 1rem;
  padding: 1em;
}

/* -----INDEX----- */
/* QUIENES SOMOS */
.quienes-somos {
  margin: 2px;
  margin-top: 1em;
  font-size: 1em;
  padding: 1em;
  width: 100%;
  display: flex;
  background-position: center;
  background-size: cover;
  justify-content: end;
  align-items: end;
}

/* ------Footer----- */
.bg-gris {
  background-color: rgb(248, 249, 250);
  border-top: 2px solid rgb(226, 224, 224);
}

/* staff*/
.flex-container {
  display: flex;
  justify-content: center;
  align-items: center;
  object-fit: contain;
}

.img {
  max-width: 400px;
  max-height: 50%;
  text-align: center;
  object-fit: contain;
  overflow: hidden;
  margin: 10px;
}

@media (min-width: 100px) and (max-width: 800px) {
  .flex-container {
    display: flex;
    flex-direction: column;
  }
}
/*  Cursos */
.grilla-cursos {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 500px;
  gap: 20px;
  padding: 15px;
}

/*preguntar porque si pongo solo curso no aplica los cambios*/
.curso1 {
  grid-row: span 1;
  /*esto es para ocupar dos celdas de la grilla*/
  display: flex;
  /*aplicamos flexbox para acomodar la info en la caja*/
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  padding: 10px;
  margin: none;
}

.curso2 {
  grid-row: span 1;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  padding: 10px;
}

.curso3 {
  grid-row: span 1;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  padding: 10px;
}

@media (min-width: 100px) and (max-width: 800px) {
  .grilla-cursos {
    display: flex;
    flex-direction: column;
  }
}
.intro {
  display: grid;
  grid-template-rows: 1fr;
  justify-content: center;
  align-items: center;
  font-size: 1.3rem;
  color: rgb(26, 12, 12);
  padding: 15px;
}

.grilla-experiencias {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
}

.video {
  margin-left: 10px;
}

.exper1 {
  overflow: hidden;
}

/* Pantalla mobile-tablet */
@media (min-width: 100px) and (max-width: 1000px) {
  .grilla-experiencias {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 400px;
  }
}
/* donde estamos */
.ubicacion {
  display: flex;
  justify-content: center;
  align-items: center;
}

.club {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* contacto */
.form1 {
  display: flex;
  margin: 10px;
  padding-left: 10px;
  gap: 10px;
}

.form2 {
  display: flex;
  text-align: center;
  height: 50px;
  padding: 10px;
  column-gap: 10px;
  justify-content: left;
}

.consulta {
  text-align: center;
  padding-left: 10px;
  display: flex;
  height: 30px;
  width: 150px;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  background-color: rgba(111, 111, 189, 0.466);
}
.consulta:hover {
  background-color: rgb(52, 52, 139);
  color: aliceblue;
}

.formulario {
  display: flex;
  padding-left: 10px;
  column-gap: 10px;
  padding-bottom: 10px;
}

.botones {
  padding: 15px;
  display: flex;
  padding-left: 100px;
  text-align: center;
  column-gap: 20px;
  border-radius: 10px;
}

.enviar {
  width: 100px;
  background-color: rgba(111, 111, 189, 0.466);
  border-radius: 10px;
}
.enviar:hover {
  background-color: rgb(52, 52, 139);
  color: aliceblue;
  border-radius: 10px;
}

.borrar {
  width: 120px;
  background-color: rgba(106, 204, 106, 0.589);
  color: black;
  border-radius: 10px;
}
.borrar:hover {
  background-color: red;
  color: aliceblue;
}

/*# sourceMappingURL=styles.css.map */
