* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


h1, h2 {
    margin-top: 0.1rem;
    padding: 1rem;
    font-family: "Barlow", sans-serif;
    display: flex;
    justify-content: center;
}
p {
    font-weight: 1rem;
    font-size: 1rem;
    padding: 1em;
}

.bg-gris {
    background-color: rgb(248, 249, 250);
    border-top: 2px solid rgb(226, 224, 224)
}
