

  /*Esperiencias*/

.intro1{
  display: flex;
  justify-content: center;
  text-align: justify;
  font-size: x-large;
  flex-wrap:wrap;
  word-break: break-word;  
padding: 50px;
}

.intro2{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: xx-large;
    color: hsl(236, 67%, 49%); 
}
.intro3{
  display: flex;
  justify-content: center;
  text-align: justify;
  font-size: larger;
  flex-wrap:wrap;
  word-break: break-word;
}

p a {
  margin-left: 5px;
  margin-right: 5px;
}

.descripcion{
  display: flex;
  justify-content: center;
}

  .grilla-experiencias {
    display: flex;
    justify-content: safe;
    align-items: safe;
    padding-left: 20px;
        max-width: auto; 
        video {
          width: 96%; 
          height: auto; 
        }
      }

  /* Pantalla mobile-tablet */
@media (min-width: 100px) and (max-width: 1000px) {
    .grilla-experiencias {
        display: flex;
        flex-direction: column; 
        overflow: hidden;
    }
}
    