

  /*Esperiencias*/

.intro1{
  display: flex;
  justify-content: center;
align-items: center;
font-size: larger;  
}

.intro2{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: x-large;
    color: hsl(236, 67%, 49%); 
}
.intro3{
  display: flex;
  justify-content: center;
  font-size: larger;
}

p a {
  margin-left: 5px;
  margin-right: 5px;
}


  .grilla-experiencias {
    display: flex;
    justify-content: safe;
    align-items: safe;
    padding-left: 50px;
        max-width: auto; 
        video {
          width: 95%; 
          height: auto; 
        }
      }

  /* Pantalla mobile-tablet */
@media (min-width: 100px) and (max-width: 1000px) {
    .grilla-experiencias {
        display: flex;
        flex-direction: column; 
        overflow: hidden;
    }
}
    