/* -----INDEX----- */
/* QUIENES SOMOS */

.quienes-somos {
    margin: 2px;
    margin-top: 1em;
    font-size: 1em;
    padding: 1em;
    width: 99%;
    display: flex;
    background-position: center;
    background-size: cover;
    justify-content: end;
    align-items: end;
}