/* staff*/ 
.flex-container{
    display:flex;
    justify-content: center;
    align-items: center;
      
   &__img{
    width: 100%;
    height: 50%;
    object-fit: contain;
    text-align: center;
    overflow: hidden;
    margin: 10px;
}
}

@media screen and (max-width: 576px) {
    .flex-container{
        display: flex;
        flex-direction: column;
}
  }